@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 14, 47, 86
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 14, 47, 86; /* Same color for simplicity */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb)); /* Use a solid color instead of gradient */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
